
div#waveform,
div#wave-spectrogram {   
  width: 50%;
  margin: 10px auto;
}

div#waveform.loaded {
  background-color: #D3D3D3;
  border: 0.5px solid black;
}

div#wave-spectrogram.loaded {
  border: 0.5px solid black;
}

div#waveform.loading {
  background: url('../img/spinner.gif') no-repeat center center;
}

body {
  font-family: 'Raleway', sans-serif;
}

div#instruction,   
div#file-container {   
  text-align: center;
  margin: 20px 0px;
}
