
#waveform,
#spectrogram,
#invisible {   
  width: 70%;
  margin: 0px auto;
}

.annotation,
.waveform_visualization,
.spectrogram_visualization,
.invisible_visualization {   
  width: 70%;
  margin: 50px auto;
}

#waveform.loaded {
  background-color: #D3D3D3;
  border: 0.5px solid #D3D3D3;
}

#spectrogram.loaded,
#invisible.loaded {
  border: 0.5px solid #D3D3D3;
}

#waveform.loading {
  background: url('../img/spinner.gif') no-repeat center center;
}

body {
  font-family: 'Raleway', sans-serif;
}

#instruction,   
#file-container {   
  text-align: center;
  margin: 20px 0px;
}

.play_audio .fa {
	font-size: 50px;
}

.play_audio {
	float: left;
    position: relative;
	top: 39px;
	left: 5%;
}
