.audio_visual,
.play_bar,
.labels,
.submit_container,
.annotation,
.creation_stage_container,
.hidden_img {
  width: 97%;
  margin: auto;
}

.btn {
  height: 30px;
  line-height: 30px;
}

.audio_visual wave {
  height: 148px !important;
}

.audio_visual > wave {
  cursor: crosshair;
}

.audio_visual > wave > canvas {
  background-color: #EAEAEA;
  width: 0px;
}

.audio_visual wave canvas {
  position: relative;
  top: 10px !important;
}

.annotation {   
  margin: 0px auto;
  position: relative;
}

.play_bar {
  margin: 0px auto;
  position: relative;
}

.timer {
  position: absolute;
  right: 0px;
  font-weight: normal;
}

.play_audio.fa {
  font-size: 40px;
  color: #000080;
}

.creation_stage_container {
  text-align: center;
  min-height: 175px;
  position: relative;
}

.annotation .btn_stop,
.annotation .btn_start {
  color: #fff !important;
  min-width: 300px;
  font-weight: bold;
}

.annotation .btn_replay {
  color: #fff !important;
  font-weight: bold;
}

.btn_replay {
  background-color: #910093 !important;
}

.btn_replay:hover {
  background-color: #5D005E !important;
}

.btn_start {
  background-color: #18C501;
}

.btn_start:enabled:hover {
  background-color: #118C01;
}

.btn_stop {
  background-color: #B90042;
}

.btn_stop:hover {
  background-color: #6E0027;
}

.time_segment input {
  margin: 0px 8px;
  width: 90px !important;
  display: inline-block;
  font-weight: normal;
}

.time_segment span {
  margin: 0px 8px;
  color: gray;
  font-style: italic;
  font-weight: normal;
}

.tag_container {
  text-align: left;
  margin-top: 25px;
}

.stage_3_label {
  min-width: 150px;
  display: inline-block;
}

.stage_3_message {
  text-align: center;
  font-style: italic;
  color: gray;
}

.proximity_tags,
.annotation_tags {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  font-size: 14px;
}

.proximity_tag,
.annotation_tag {
  margin: 0px 10px 10px 10px !important;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.annotation_tag {
  background-color: #fff;
  color: #00B1B9 !important;
}

.annotation_tag:hover,
.annotation_tag.selected {
  color: #fff !important;
  background-color: #00B1B9;
}

.proximity_tag {
  background-color: #fff;
  color: #006079 !important;
}

.proximity_tag:hover,
.proximity_tag.selected {
  color: #fff !important;
  background-color: #006079;
}
.btn:focus {
  outline: none !important;
}

.exit {
  color: #fff !important;
  margin-left: 25px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

.submit_container {
  text-align: center;
}

.submit_container .btn,
.exit {
  color: #fff !important;
  font-weight: bold;
  background-color: #000080;
}

.submit_container .btn:hover:enabled,
.exit:hover {
  background-color: #000040;
}

.current_region {
  z-index: 5000 !important;
  border: 2px solid rgba(0, 177, 185, 0.40);
}

tag.current_label {
  z-index: 5000 !important;
  background-color: #00B1B9 !important;
}

.hint {
  color: gray;
  font-style: italic;
  font-weight: normal;
}

.fa.fa-exclamation-triangle,
.fa.fa-frown-o,
.fa.fa-thumbs-up,
.fa.fa-lightbulb-o {
  margin-right: 10px;
}

.toastHint {
  color: #555;
  background-color: #fff59d;
}

/* START: CSS to override curio defaults */
.row .subtitle {
  display: none;
}

#task-container {
  width: 1500px !important;
}

html, body {
  background-color: #fff;
}

hr {
  margin: 5px;
}

nav {
  z-index: 10000;
}

input[type=text][readonly="readonly"] {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

i.fa {
  vertical-align: inherit;
}

h6.instruction {
  margin-top: 0px;
  margin-bottom: 10px;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-modal{
  z-index: 10000 !important;
}

input.form-control.start,
input.form-control.end,
input.form-control.duration {
  border-bottom-width: 0px;
}

.instructions {
  padding-top: 20px;
  margin: 0 auto;
  width: 650px;
}

.time {
  color: #999;
  font-style: italic;
}
/* END: CSS to override curio defaults */